body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav link hover color */
.nav-link:hover {
  background-color: #973333;
}

/* Breaking news button on featured */
.breaking-news-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

/* Carousel caption - tile */
.carousel-caption {
  position: absolute;
  bottom: 0;
  text-align: center;
}

/* Gradient overlay on bottom towards top on carousel images */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Footer.css */
ul.categories-list {
  list-style-type: none;
  padding: 0;
}

ul.categories-list li {
  margin-bottom: 5px;
}
